.AboutPage {
}

.CurrentVisitorsCount {
}

.HomePage {
}

.NotFoundPage {
}

.Pages {
  width: 100%;
}

.Pages-header {
  height: 300;
  background-color: #484848;
  text-align: center;
}

.Pages-header h1 {
  color: #61dafb;
  font-family: "Open Sans Condensed";
  font-weight: 400;
  font-size: 64;
  padding-top: 60;
  width: 980;
  margin: 0 auto;
}

.Pages-header h2 {
  color: #e9e9e9;
  text-transform: uppercase;
  font-size: 24;
  line-height: 33px;
  width: 980;
  margin: 0 auto;
}

.Pages-ReactLogo {
  width: 25;
  height: 25;
  display: inline-block;
  margin-bottom: -4;
}

.Pages-main {
  width: 980;
  margin: 20px auto;
}

.Pages-footer {
  width: 980;
  margin: 0 auto;
}

.Pages-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
  text-align: center;
}

.Pages-links > li {
  display: table-cell;
  width: 33.333333333333336%;
}

.Pages-counters {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20;
}

.Root {
  width: 100%;
}

html, body {
  font-family: "Open Sans Condensed";
  color: #484848;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a {
  color: #aaa;
}

a:hover {
  color: #fafafa;
}

a:active {
  color: #fff;
}

.TotalVisitorsCount {
}
